    {% if site.footer_fixed %}
    <footer class="fixed-bottom">
      <div class="container mt-0 " style="display: flex; justify-content: center; align-items: center; flex-direction: column; text-align:center; padding:3px">
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        All views here are my own and do not reflect the views of my employers or university: present, past, future.<hr style="height: 0px; border: none; margin: 0px">
        Last updated: {{ "now" | date: '%B %d, %Y' }} |
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.last_name }}. {{ site.footer_text }}
        {%- endif %}
      </div>
    </footer>
    {%- else -%}
    <footer class="sticky-bottom mt-5">
      <div class="container">
        &copy; Copyright {{ site.time | date: '%Y' }} {{ site.first_name }} {{ site.middle_name }} {{ site.last_name }}. {{ site.footer_text }}
        {%- if site.impressum_path -%}
        <a href="{{ site.url }}{{ site.baseurl }}{{ site.impressum_path }}">Impressum</a>.
        {%- endif -%}
        {%- if site.last_updated -%}
        Last updated: {{ "now" | date: '%B %d, %Y' }}.
        {%- endif %}
      </div>
    </footer>
    {%- endif %}