{% if page.permalink == '/' %}
    <h2 id="personal">Personal</h2>
    <hr style="border-width: 2px;">
    <p>In my free time, I enjoy a variety of indoor and outdoor activities. Long-distance running is close to my heart (feel free to follow me on <a href='https://www.strava.com/athletes/gliargko' target="_clean"><a href="https://www.strava.com/athletes/56433360" title="Strava"><i class="fab fa-strava "></i></a> ), either solo or with the company of others.
        I also love cooking, often trying and adding personal twists to recipes from many cuisines. Hopefully, I'll share some of my recipes here soon.
        Additionally, I'm passionate about curating <a href="https://open.spotify.com/user/5tjsyyq952wsk4sm0sbog24yu?si=5e993390c0c64304"><img src="https://storage.googleapis.com/pr-newsroom-wp/1/2018/11/Spotify_Logo_RGB_Green.png" style="display:inline-block;height:20px"></a> playlists. Alternative Rock, Indie, and Jazz are among my top genres.
    In earlier days, I used to play the piano and take music theory lessons.</p>

{% endif %}


