/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

.container {
  max-width: $max-content-width;
}

