@use "variables" as *;
/******************************************************************************
 * Content
 ******************************************************************************/

body {
  padding-bottom: 70px;
  color: var(--global-text-color);
  background-color: var(--global-bg-color);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  h1, h2, h3, h4, h5, h6 {
    scroll-margin-top: 66px;
  }
}

.container {
  max-width: var(--max-content-width);
}

