---
layout: default
---
<style>
    .active-link {
        color: black;
        font-weight: bold;
        text-decoration: none;
    }



  .fixed-profile {
    position: fixed;
    top: 20px;
    left: calc(50% - 450px); /* Centers the profile based on the container width */
    width: 250px; /* Fixed width of the profile */
    z-index: 100;
    margin-right: 500px;
  }

  .custom-content {
    margin-left: calc(50% - 150px); /* Aligns the start of the content */
    width: 630px; /* Adjusts content width */
    padding-left: 20px; /* Padding between profile and content */
    box-sizing: border-box;
  }

  .contact-icons i {
    color: black;
    font-size: 25px;
  }

  .contact-icons i:hover {
    color: var(--global-theme-color);
  }

  /* Media Query for screens smaller than 1100px */
  @media (max-width: 1000px) {
    .container {
      flex-direction: column; /* Stack elements vertically */
      width: 100%; /* Full width */
    }

    .custom-content {
      margin: 0 auto; /* Center the content horizontally */
      width: 100%; /* Full width */
    }

    .fixed-profile, .custom-content {
      position: static; /* Remove fixed positioning */
      width: 100%; /* Full width */
      margin-left: 0; /* Remove any margin */
      margin-right: 0; /* Ensure right margin is removed */
      padding-left: 0; /* Remove padding */
      padding-right: 0; /* Ensure right padding is also removed */
    }
  }
</style>

<script>
document.addEventListener('DOMContentLoaded', function() {
    const sections = document.querySelectorAll('section');
    const navLinks = document.querySelectorAll('.mini-nav a');

    function onScroll() {
        let current = "";

        sections.forEach((section) => {
            const sectionTop = section.offsetTop;
            const sectionHeight = section.clientHeight;
            if (pageYOffset >= (sectionTop - sectionHeight / 3)) {
                current = section.getAttribute('id');
            }
        });

        navLinks.forEach((link) => {
            link.classList.remove('active-link');
            if (link.getAttribute('data-target') === current) {
                link.classList.add('active-link');
            }
        });
    }

    window.addEventListener('scroll', onScroll);
});
</script>

<style>
  #container {
    display: flex;
    align-items: center;
    font-size: 20px;
  }
  #pronunciation-btn {
    margin-left: 3px;
    cursor: pointer;
    background-color: transparent;
    border: none;
    color: blue;
    font-size: 16px;
  }

</style>

<div class="container">
  <div class="profile fixed-profile">
    <h1 class="post-title" style="margin-bottom: 0;">
      <span class="font-weight-bold" style="font-size:42px;"><b>{{ site.first_name }} {{ site.last_name }}</b></span>
  </h1>
  <div id="container">
    <span>Γιώργος Λιαργκόβας</span>
    <button id="pronunciation-btn" onclick="togglePronunciation()">[more]</button>
  </div>
  <div id="pronunciation-guide" style="display: none;">
    Pronunciation: '<b>Yor</b>-gos Li-ar-<b>go</b>-vas' - The 'G' in Georgios is pronounced like the 'Y' in 'Yes'.
  </div>
    <p class="desc">{{ page.subtitle }}</p>
    <hr style="border-width: 3px; color: black; margin-bottom: 12px">
    {% include figure.html style="width: 210px; margin-bottom: 0px; padding: 0px; border: 2px solid black;" path='assets/img/prof_pic.jpg' class='img-fluid' alt='profile pic' %}
    <div class="address" style="font-size:13.7px">
      {% include info.html %}
      <div class="contact-icons">
        {% include social_small.html %}
      </div>
      <br>
      <br>
    </div>
  </div>
  <article class="custom-content">
    <section id="aboutme">
      {{ content }}
    </section>
    {% if page.news %}
      <!-- News -->
      <section id="news">
      {% include news.html %}
    </section>
    {% endif %}
    {% if page.selected_papers %}

      <!-- Selected papers -->
      <section id="select">
        {% include selected_papers.html %}
      </section>
    {% endif %}
      <section id="personal">
        {% include personal.html %}
      </section>
  </article>
</div>

<script>
  function togglePronunciation() {
      var guide = document.getElementById('pronunciation-guide');
      var btn = document.getElementById('pronunciation-btn');
      if (guide.style.display === "none") {
          guide.style.display = "block";
          btn.textContent = "[less]";
      } else {
          guide.style.display = "none";
          btn.textContent = "[more]";
      }
  }
  </script>

  <style>
    #pronunciation-btn {
        background: none;
        border: none;
        color: #aaa; /* Very light grey color */
        cursor: pointer;
        font-size: 10px; /* Very small font size */
        padding: 0;
        border-bottom: 1px dashed #aaa; /* Dashed underline for subtlety */
        font-style: italic;
    }

    #pronunciation-btn:hover {
        border-bottom: 1px solid #888; /* Solid underline on hover for clarity */
    }

    #pronunciation-guide {
        font-size: 12px; /* Small font size */
        color: #666; /* Soft grey */
        display: none; /* Hidden by default */
        padding-top: 5px; /* Space from the button */
    }
    </style>
